<% content_for :title do %><%= "Cookies Policy" %><% end %>

<% if I18n.locale == :ja %>

<div class="page-content-wrapper sp-y">
  <div class="container">

    <h2>Cookie ポリシー</h2>

    <p>これは、GCVのCookieポリシーです。https://guitar-cv.comからアクセスできます。</p>

    <h3 class="h4">クッキーとは</h3>

    <p>ほとんどの専門的なウェブサイトと同様に、このサイトではクッキーが使用されています。クッキーはコンピュータにダウンロードされる小さなファイルであり、ユーザーエクスペリエンスを向上させるために使用されます。このページでは、クッキーが収集する情報、その使用方法、およびなぜこれらのクッキーを保存する必要がある場合があるのかについて説明します。また、これらのクッキーの保存を防止する方法も共有しますが、これによりサイトの機能の一部が低下したり、正常に動作しなくなる可能性があります。</p>

    <h3 class="h4">クッキーの使用方法</h3>

    <p>以下に詳細な理由でクッキーを使用しています。残念ながら、ほとんどの場合、クッキーを完全に無効にすることなく、クッキーの機能と機能がこのサイトに追加する機能と完全に無効にするための業界標準のオプションはありません。クッキーが必要かどうかが不明な場合は、使用しているサービスを提供するために使用される場合があるため、すべてのクッキーを有効にしておくことをお勧めします。</p>

    <h3 class="h4">クッキーの無効化</h3>

    <p>クッキーの設定をブラウザで調整することにより、クッキーの設定を防止することができます（詳細については、ブラウザのヘルプを参照してください）。ただし、クッキーを無効にすると、訪問する多くの他のウェブサイトの機能に影響が出ます。クッキーを無効にすると、通常はこのサイトの特定の機能と機能も無効になります。したがって、クッキーを無効にしないことをお勧めします。</p>

    <h3 class="h4">設定するクッキー</h3>

    <p><strong>アカウント関連のクッキー</strong></p>
    <p>アカウントを作成する場合は、登録プロセスと一般的な管理のためにクッキーを使用します。これらのクッキーは通常、ログアウトした後に削除されますが、一部の場合はログアウトした後もサイトの設定を記憶しておくために残る場合があります。</p>

    <p><strong>ログイン関連のクッキー</strong></p>
    <p>ログインしている場合、この事実を記憶するためにクッキーを使用します。これにより、新しいページを訪問するたびにログインする必要がなくなります。これらのクッキーは通常、ログアウトすると削除またはクリアされるため、ログインしている場合にのみ制限付きの機能とエリアにアクセスできるようになります。</p>

    <p><strong>メールニュースレター関連のクッキー</strong></p>
    <p>このサイトでは、ニュースレターやメール購読サービスを提供しており、既に登録されているかどうかを記憶し、登録/未登録のユーザーにのみ有効な通知を表示するためにクッキーが使用される場合があります。</p>

    <p><strong>フォーム関連のクッキー</strong></p>
    <p>お問い合わせページやコメントフォームなどのフォームにデータを送信する場合、将来の連絡のためにユーザーの詳細を記憶するためにクッキーが設定される場合があります。</p>

    <h3 class="h4">第三者クッキー</h3>

    <p>特別な場合において、信頼できる第三者から提供されるクッキーも使用しています。以下では、このサイトを通じて遭遇する可能性のある第三者クッキーについて詳細に説明します。</p>

    <ul class="mb-3">

      <li>
        <p>このサイトでは、Google Analyticsを使用しています。Google Analyticsは、最も広く信頼されているウェブ分析ソリューションの1つであり、サイトの利用方法やコンテンツの改善方法を理解するために使用されます。これらのクッキーは、サイトでの滞在時間や訪問したページなどを追跡し、魅力的なコンテンツを提供し続けるために使用されることがあります。</p>
        <p>Google Analyticsのクッキーに関する詳細は、公式のGoogle Analyticsページを参照してください。</p>
      </li>


      <li>
        <p>時折、新機能をテストし、サイトの配信方法を微調整します。新機能をテストしている場合、これらのクッキーは、サイト上で一貫したエクスペリエンスを提供し、ユーザーが最も評価する最適化を理解するために使用されることがあります。</p>
      </li>


      <li>
        <p>広告を提供するために使用しているGoogle AdSenseサービスは、DoubleClickクッキーを使用してウェブ全体に関連する広告を表示し、特定の広告が表示される回数を制限します。</p>
        <p>Google AdSenseに関する詳細は、公式のGoogle AdSenseプライバシーFAQを参照してください。</p>
      </li>


      <li>
        <p>いくつかのパートナーは、当サイトの代理で広告を宣伝し、アフィリエイトトラッキングクッキーを使用して、顧客が当社のパートナーサイトのいずれかを経由してサイトにアクセスしたかどうかを確認し、適切にクレジットすることができるようにする場合があります。それが適用される場合、アフィリエイトパートナーが購入に対して提供するボーナスを提供できるようにします。</p>
      </li>

      <li>
        <p>このサイトでは、ソーシャルメディアのボタンやプラグインを使用して、さまざまな方法でソーシャルネットワークに接続できるようにする場合があります。これらが機能するために、サイトに統合されている機能を持つソーシャルネットワークのリストなどのソーシャルメディアサイトは、当サイトを通じてクッキーを設定できることがあります。</p>
        <p>これらのクッキーとそれに関連するプライバシーポリシーに関する詳細は、各ソーシャルメディアサイトのプライバシーポリシーをご確認ください。</p>
      </li>

    </ul>

    <h3 class="h4">クッキーに関する追加情報</h3>

    <p>このサイトに関するクッキーポリシーについて質問や疑問がある場合は、お気軽にお問い合わせください。</p>

    <ul class="mb-3">

      <li><%= link_to "お問い合わせフォーム", cookie_policy_path %></li>
    </ul>
  </div>
</div>
<% else %>
<div class="page-content-wrapper sp-y">
  <div class="container">

    <h2>Cookie Policy</h2>

    <p>This is the Cookie Policy for GCV, accessible from https://guitar-cv.com</p>

    <h3 class="h4">What Are Cookies</h3>

    <p>As is common practice with almost all professional websites this site uses cookies, which are tiny files that are downloaded to your computer, to improve your experience. This page describes what information they gather, how we use it and why we sometimes need to store these cookies. We will also share how you can prevent these cookies from being stored however this may downgrade or 'break' certain elements of the sites functionality.</p>

    <h3 class="h4">How We Use Cookies</h3>

    <p>We use cookies for a variety of reasons detailed below. Unfortunately in most cases there are no industry standard options for disabling cookies without completely disabling the functionality and features they add to this site. It is recommended that you leave on all cookies if you are not sure whether you need them or not in case they are used to provide a service that you use.</p>

    <h3 class="h4">Disabling Cookies</h3>

    <p>You can prevent the setting of cookies by adjusting the settings on your browser (see your browser Help for how to do this). Be aware that disabling cookies will affect the functionality of this and many other websites that you visit. Disabling cookies will usually result in also disabling certain functionality and features of the this site. Therefore it is recommended that you do not disable cookies. This Cookies Policy was created with the help of the <a href="https://www.cookiepolicygenerator.com/cookie-policy-generator/">Cookies Policy Generator from CookiePolicyGenerator.com</a>.</p>

    <h3 class="h4">The Cookies We Set</h3>

    <p><strong>Account related cookies</strong></p>
    <p>If you create an account with us then we will use cookies for the management of the signup process and general administration. These cookies will usually be deleted when you log out however in some cases they may remain afterwards to remember your site preferences when logged out.</p>

    <p><strong>Login related cookies</strong></p>
    <p>We use cookies when you are logged in so that we can remember this fact. This prevents you from having to log in every single time you visit a new page. These cookies are typically removed or cleared when you log out to ensure that you can only access restricted features and areas when logged in.</p>

    <p><strong>Email newsletters related cookies</strong></p>
    <p>This site offers newsletter or email subscription services and cookies may be used to remember if you are already registered and whether to show certain notifications which might only be valid to subscribed/unsubscribed users.</p>

    <p><strong>Forms related cookies</strong></p>
    <p>When you submit data to through a form such as those found on contact pages or comment forms cookies may be set to remember your user details for future correspondence.</p>

    <h3 class="h4">Third Party Cookies</h3>

    <p>In some special cases we also use cookies provided by trusted third parties. The following section details which third party cookies you might encounter through this site.</p>

    <ul class="mb-3">

      <li>
        <p>This site uses Google Analytics which is one of the most widespread and trusted analytics solution on the web for helping us to understand how you use the site and ways that we can improve your experience. These cookies may track things such as how long you spend on the site and the pages that you visit so we can continue to produce engaging content.</p>
        <p>For more information on Google Analytics cookies, see the official Google Analytics page.</p>
      </li>


      <li>
        <p>From time to time we test new features and make subtle changes to the way that the site is delivered. When we are still testing new features these cookies may be used to ensure that you receive a consistent experience whilst on the site whilst ensuring we understand which optimisations our users appreciate the most.</p>
      </li>

      <li>
        <p>As we sell products it's important for us to understand statistics about how many of the visitors to our site actually make a purchase and as such this is the kind of data that these cookies will track. This is important to you as it means that we can accurately make business predictions that allow us to monitor our advertising and product costs to ensure the best possible price.</p>
      </li>

      <li>
        <p>The Google AdSense service we use to serve advertising uses a DoubleClick cookie to serve more relevant ads across the web and limit the number of times that a given ad is shown to you.</p>
        <p>For more information on Google AdSense see the official Google AdSense privacy FAQ.</p>
      </li>



      <li>
        <p>Several partners advertise on our behalf and affiliate tracking cookies simply allow us to see if our customers have come to the site through one of our partner sites so that we can credit them appropriately and where applicable allow our affiliate partners to provide any bonus that they may provide you for making a purchase.</p>
      </li>

      <li>
        <p>We also use social media buttons and/or plugins on this site that allow you to connect with your social network in various ways. For these to work the following social media sites including; {List the social networks whose features you have integrated with your site?:12}, will set cookies through our site which may be used to enhance your profile on their site or contribute to the data they hold for various purposes outlined in their respective privacy policies.</p>
      </li>

    </ul>

    <h3 class="h4">More Information</h3>

    <p>Hopefully that has clarified things for you and as was previously mentioned if there is something that you aren't sure whether you need or not it's usually safer to leave cookies enabled in case it does interact with one of the features you use on our site.</p>

    <p>For more general information on cookies, please read <a href="https://www.generateprivacypolicy.com/#cookies">"Cookies" article from the Privacy Policy Generator</a>.</p>

    <p>However if you are still looking for more information then you can contact us through one of our preferred contact methods:</p>

    <ul class="mb-3">

      <li>By visiting this link: https://guitar-cv.com/contacts/new</li>
    </ul>
  </div>
</div>
<% end %>
