<% content_for :title do %><%= "GET STARTED" %><% end %>
<div class="page-content-wrapper sp-y">
  <div class="container">
    <div class="row">
      <h1 class="h4">GET STARTED</h1> 

      <h2 class="h6 text-muted my-4">Welcome to Guitar Collections Virtual</h2>
      <div class="card card-body">
	<div class="d-flex">
	  <div class="flex">
	    <p class="d-flex align-items-center mb-2">
              <small class="text-muted">Guitar Collection Virtual is a site to post your own guitar</small>
            </p>
	    <p>Guitar Collection Virtual is a virtual guitar collection site where members can post their own guitars.</p>
	    <p>If you are a guitarist, please introduce your beloved guitar.</p>
	  </div>
	</div>
      </div>
 
      <h2 class="h6 text-muted my-4">Initial Registration and Service Usage Guide</h2>
      <div class="card card-body">
	<div class="d-flex">
	  <div class="flex">
            <p class="d-flex align-items-center mb-2">
              <small class="text-muted">First time use</small>
            </p>
	    <p class="font-weight-bold">Register as a new member!</p>
	    <p>Please fill in the required fields in the "New Member Registration" form to register as a member.</p>
	    <p class="font-weight-bold">Register your profile!</p>
	    <p>You can register your profile by clicking the "Profile" link on the "Dashboard" page.<br/>
	    Enter a profile of yourself as a guitarist, including your guitar history, guitar style, guitarists you admire, etc., and let other members know who you are.<br/>
	    Your profile will be visible only to logged-in members. It is not possible to set the level of publicity.<br/>
	    Your account management page and email address will not be visible to anyone.</p>
	    <p class="font-weight-bold">Submit your guitars and gear!</p>
	    <p>You can submit your guitars and gear from the "Submit a Guitar" page.<br/>
	    For more information, see Submit a Guitar or Equipment.<br/>
	    Once you have submitted your guitar or gear, it will be visible to all visitors to the Virtual Guitar Collection. There is no way to set the level of visibility.</p>
	    <p class="font-weight-bold">Create your own collection of guitars and gear!</p>
	    <p>If you find a guitar or piece of equipment that you like that has been posted by another member, you can add it to your collection gallery by clicking on the "Collection" button.<br/>
	    For more information, see Become a Collector.</p>
	    <p class="font-weight-bold">Comment on guitars and gear</p>
	    <p>Any member can post comments on the guitars and equipment posted.<br/>
	    If you find a guitar or piece of equipment that interests you, comment on it.<br/>
	    For more information, see Commenting.</p>
	  </div>
	</div>
      </div>

      <h2 class="h6 text-muted my-4">Submit your guitar or gear</h2>
      <div class="card card-body">
	<div class="d-flex">
	  <div class="flex">
            <p class="d-flex align-items-center mb-2">
              <small class="text-muted">Guitar and Equipment Registration and Collection</small>
            </p>
	    <p class="font-weight-bold">You need to log in first</p>
	    <p>Click the "post your gear" link on the Dashboard page or the entries link in the sidebar to go to the registration page.</p>
	    <p class="font-weight-bold">About submitting images</p>
	    <p>You can submit up to four images. Only images in jpg, gif, or png format can be uploaded. The maximum upload size is 4000px(width) and 4000px(height) per image.</p>
	    <p class="font-weight-bold">Registering specifications</p>
	    <p>Introduce your guitar or gear to other members by entering details such as make, model name, and sound characteristics.<br/>
	    Other members may see it and become collectors of that guitar.</p>
	  </div>
	</div>
      </div>
    
    </div>
  </div>
</div>

