<% content_for :title do %><%= "Privacy Policy" %><% end %>
<% if I18n.locale == :ja %>
  <div class="page-content-wrapper sp-y">
    <div class="container">
      <h2 class="h3">プライバシー ポリシー</h2>
      <p>プライバシーは私たちにとって重要です。Wholetone Musicは、個人情報に関して、あなたから収集する可能性のある情報について、当ウェブサイト（https://guitar-cv.com）および私たちが所有および運営する他のサイトを含む、適用される法律および規制を尊重し、遵守する方針を採用しています。
      <p>このポリシーは2022年5月5日から有効であり、最後に更新されたのは2022年5月5日です。
      </p>
      <p>このプライバシーポリシーは、オンライン活動にのみ適用され、当ウェブサイトを訪れる方の間で共有される情報に関して有効です。このポリシーは、このウェブサイト以外のオフラインまたはその他のチャンネルを通じて収集される情報には適用されません。</p>

      <h3 class="h4">定義</h3>
      <p>このプライバシーポリシーの目的において、以下の用語は次のように定義されます。</p>
      <ul class="mb-3">
        <li>
          <p><strong>アカウント</strong>とは、サービスまたはサービスの一部にアクセスするために作成されたユニークなアカウントを指します。
          </p>
        </li>
        <li>
          <p><strong>私たち</strong> とは、本契約で言及される、当サイトの管理者を指します。</p>
        </li>
        <li>
          <p><strong>Cookies</strong> とは、ウェブサイトによってコンピュータ、モバイルデバイス、または他のデバイスに配置される、そのウェブサイトでのブラウジング履歴の詳細を含む小さなファイルです。</p>
        </li>
        <li>
          <p><strong>デバイス</strong> とは、コンピュータ、携帯電話、またはデジタルタブレットなど、サービスにアクセスできる任意のデバイスを指します。</p>
        </li>
        <li>
          <p><strong>個人データ</strong> とは、特定の個人に関連する情報を指します。</p>
        </li>
        <li>
          <p><strong>サービス</strong> とは、ウェブサイトを指します。</p>
        </li>
        <li>
          <p><strong>サービスプロバイダ</strong> とは、私たちの代理でデータを処理する任意の自然または法人を指します。サービスの容易化、私たちのためにサービスを提供するための第三者の会社または個人、サービスに関連するサービスの提供者です。</p>
        </li>
        <li>
          <p><strong>サードパーティのソーシャルメディアサービス</strong>は、ユーザーがログインしたりアカウントを作成したりしてサービスを利用できるウェブサイトまたはソーシャルネットワークのウェブサイトを指します。</p>
        </li>
        <li>
          <p><strong>利用データ</strong>は、サービスの利用によって自動的に収集されるデータであり、サービスの使用またはサービスインフラ自体によって生成されるものです（例：ページ訪問の期間など）。</p>
        </li>
        <li>
          <p><strong>ウェブサイト</strong>は、<a href="https://guitar-cv.com" rel="external nofollow noopener" target="_blank">https://guitar-cv.com</a>からアクセスできる当サイトを指します。</p>
        </li>
        <li>
          <p><strong>利用者</strong>は、サービスにアクセスまたは利用する個人、または該当する場合、その個人がサービスにアクセスまたは利用する法人またはその他の法的実体を指します。</p>
        </li>
      </ul>

      <h3 class="h4">収集する情報</h3>
      <p>私たちが収集する情報には、私たちのサービスやプロモーションを利用または参加する際に、意識的に提供される情報と、お使いのデバイスが私たちの製品やサービスにアクセスする過程で自動的に送信される情報の両方が含まれます。</p>
      <p>直接お問い合わせいただいた場合、お名前、メールアドレス、電話番号、メッセージの内容や添付ファイルなどの追加情報を受け取ることがあります。また、提供していただくその他の情報も含まれます。</p>
      <h3 class="h4">使用データ</h3>
      <p>使用データは、サービスを使用する際に自動的に収集されます。</p>
      <p>使用データには、デバイスのインターネットプロトコルアドレス（例：IPアドレス）、ブラウザの種類、ブラウザのバージョン、当サービスの訪問ページ、訪問日時、それらのページでの滞在時間、ユニークなデバイス識別子やその他の診断データなどの情報が含まれる場合があります。</p>
      <p>モバイルデバイスを介してサービスにアクセスする場合、モバイルデバイスの種類、モバイルデバイスの固有ID、モバイルデバイスのIPアドレス、モバイルオペレーティングシステム、モバイルインターネットブラウザの種類、ユニークなデバイス識別子やその他の診断データを自動的に収集する場合があります。</p>
      <p>また、当サービスを訪れる際やモバイルデバイスを介してサービスにアクセスする際に、ブラウザが送信する情報も収集する場合があります。</p>

      <h3 class="h4">ログデータ</h3>
      <p>当サイトは、ログファイルの使用に関する標準的な手順に従っています。これらのファイルは、ウェブサイトを訪れた時に訪問者の情報を記録します。全てのホスティング会社が行っており、ホスティングサービスのアナリティクスの一部です。ログファイルに収集される情報には、インターネットプロトコル（IP）アドレス、ブラウザの種類、インターネットサービスプロバイダ（ISP）、日時、リファラーページ、退出ページ、およびクリック数が含まれる場合があります。これらは、個人を特定できる情報とは関連付けられていません。情報の目的は、トレンドの分析、サイトの管理、ウェブサイト上でのユーザーの移動の追跡、人口統計情報の収集です。</p>

      <h3 class="h4">個人情報</h3>
      <p>私たちは、以下のいずれかを含む個人情報を問う場合があります:</p>
      <ul class="mb-3">
        <li>メールアドレス</li>
        <li>ソーシャルメディアのプロフィール</li>
      </ul>

      <h3 class="h4">個人情報の処理の正当な理由</h3>
      <p>私たちは、正当な理由がある場合にのみ、個人情報を収集および利用します。その場合には、必要な範囲でのみ個人情報を収集し、サービス提供に合理的に必要なものとします。</p>

      <h3 class="h4">情報の収集と利用</h3>
      <p>当サイトで以下のいずれかを行った場合、個人情報を収集することがあります。</p>
      <ul>
        <li>メールやソーシャルメディアチャンネルを通じて当サイトの最新情報を受け取るために登録する</li>
        <li>モバイルデバイスやウェブブラウザを使用してコンテンツにアクセスする</li>
        <li>メール、ソーシャルメディア、または同様のテクノロジーを介してお問い合わせする</li>
        <li>ソーシャルメディア上で当サイトに言及する</li>
      </ul>
      <p>以下の目的のために情報を収集し、保持し、利用し、開示する場合があります。なお、個人情報はこれらの目的と互換性のない方法で追加処理されることはありません。</p>
      <p>以下の目的に対して、私たちは個人データを使用する場合があります。</p>
      <ul class="mb-3">
        <li>
          <p><strong>サービスの提供と維持</strong>：私たちのサービスの利用状況を監視することを含め、私たちのサービスの提供と維持のために、個人データを使用します。</p>
        </li>
        <li>
          <p><strong>アカウントの管理</strong>：サービスのユーザーとしての登録を管理するために、あなたのアカウントを管理します。提供された個人データにより、登録ユーザーとして利用できるサービスの異なる機能にアクセスできます。</p>
        </li>
        <li>
          <p><strong>契約の履行</strong>：製品、商品、またはサービスの購入契約や、サービスを通じて私たちとの他の契約の開発、遵守、履行を行うために、個人データを使用します。</p>
        </li>
        <li>
          <p><strong>通知</strong>：電子メール、電話、SMS、または他の電子通信の形式（必要または合理的な場合、セキュリティの更新を含む）により、更新や機能、製品、契約したサービスに関連する情報提供のための通知をいたします。</p>
        </li>
        <li>
          <p><strong>ニュースや特別オファーの提供</strong>：既に購入した商品や問い合わせた商品と類似した私たちが提供する他の商品、サービス、イベントに関するニュース、特別オファー、一般情報を提供する場合があります（そのような情報を受け取りたくない場合を除く）。</p>
        </li>
        <li>
          <p><strong>リクエストの管理</strong>：利用者のリクエストに対応し、管理するために利用します。</p>
        </li>
        <li>
          <p><strong>事業の譲渡</strong>：私たちの資産の一部または全部の合併、譲渡、再編、再構築、解散、またはその他の売却や移転を評価または実施するために、利用者の情報を使用する場合があります。これには、事業継続または破産、清算、または類似の手続きの一環として、私たちが保持する私たちのサービス利用者に関する個人データが譲渡される場合も含まれます。</p>
        </li>
        <li>
          <p><strong>その他の目的のため</strong>：データ分析、利用動向の把握、プロモーションキャンペーンの効果の判断、および私たちのサービス、製品、サービス、マーケティング、およびユーザーエクスペリエンスの評価と改善など、その他の目的のために利用者の情報を使用する場合があります。</p>
        </li>
      </ul>
      <p>以下の状況で、利用者の個人情報を共有する場合があります：</p>
      <ul class="mb-3">
        <li><strong>サービスプロバイダーとの共有：</strong>私たちのサービスの使用状況を監視および分析し、利用者と連絡を取るために、サービスプロバイダーと利用者の個人情報を共有する場合があります。</li>
        <li><strong>事業の譲渡：</strong>私たちの資産の一部または全部の合併、私たちの資産の売却、資金調達、または私たちの事業の全部または一部の別の会社への取得に関連して、利用者の個人情報を共有または転送する場合があります。</li>
        <li><strong>アフィリエイトとの共有：</strong>私たちは、私たちと共同制御関係にある他の会社を含む関連会社と利用者の情報を共有する場合があります。この場合、当該関連会社にはこのプライバシーポリシーを遵守するよう要求します。</li>
        <li><strong>ビジネスパートナーとの共有：</strong>私たちは、ビジネスパートナーと利用者の情報を共有し、特定の製品、サービス、プロモーションを提供する場合があります。</li>
        <li><strong>他のユーザーとの共有：</strong>個人情報を共有したり、他のユーザーと公共の場で対話したりする場合、その情報はすべてのユーザーに閲覧され、公開範囲外で公開される場合があります。他のユーザーと対話したり、サードパーティのソーシャルメディアサービスを介して登録したりする場合、サードパーティのソーシャルメディアサービス上の連絡先は利用者の名前、プロフィール、写真、活動の説明を閲覧することができます。同様に、他のユーザーは活動の説明を閲覧し、利用者とコミュニケーションを取り、プロフィールを閲覧することができます。</li>
        <li><strong>利用者の同意に基づく共有：</strong>利用者の同意に基づき、その他の目的で利用者の個人情報を開示する場合があります。</li>
      </ul>

      <h3 class="h4">個人情報のセキュリティ</h3>
      <p>個人情報を収集し処理する際、およびその情報を保持する間、私たちは商業的に許容できる手段で情報を保護し、損失や盗難、不正アクセス、開示、複製、使用、または改変を防止します。</p>
      <p>提供された個人情報を最善の方法で保護する努力をいたしますが、電子的な送信や保存方法は100%安全ではなく、絶対的なデータセキュリティを保証することはできません。データ侵害に関しては、適用される法律を遵守いたします。</p>
      <p>パスワードの選択およびその全体的なセキュリティ強度、当サービスの範囲内で自身の情報のセキュリティを確保する責任は、利用者自身にあります。</p>

      <h3 class="h4">個人情報の保持期間</h3>
      <p>利用者の個人情報は、必要な期間のみ保管します。この期間は、本プライバシーポリシーに従って、情報の使用目的に応じて決定されます。個人情報が不要になった場合、利用者を特定するすべての詳細を削除するか匿名化することで、削除いたします。</p>
      <p>ただし、必要に応じて、法的、会計、または報告義務の遵守、公共の利益、科学的研究、歴史的研究、または統計目的のためのアーカイブ目的に基づき、個人情報を保持することがあります。</p>

      <h3 class="h4">児童のプライバシー</h3>
      <p>私たちの製品やサービスは、13歳未満の子供を対象にはしておらず、意図的に13歳未満の子供の個人情報を収集することはありません。</p>

      <h3 class="h4">法執行機関</h3>
      <p>一定の状況では、会社は法律によって要求される場合や公的機関（例：裁判所または政府機関）からの正当な要求に応じるために、利用者の個人データを開示する必要がある場合があります。</p>

      <h3 class="h4">その他の法的要件</h3>
      <p>私たちは、次の目的のために、善意を持って利用者の個人データを開示する場合があります：</p>
      <ul class="mb-3">
        <li>法的義務の遵守</li>
        <li>会社の権利や財産を保護および防御する</li>
        <li>サービスに関連する可能性のある不正行為を予防または調査する</li>
        <li>サービスの利用者や一般の人々の個人の安全を保護する</li>
        <li>法的責任に対する保護</li>
      </ul>

      <h3 class="h4">第三者ソーシャルメディアサービスからの情報</h3>
      <p>当サイトでは、以下の第三者ソーシャルメディアサービスを介してアカウントを作成し、サービスを利用することを許可しています：</p>
      <ul class="mb-3">
        <li>Twitter</li>
      </ul>
      <p>第三者ソーシャルメディアサービスを通じて登録したり、当サイトにアクセスを許可する場合、私たちは既に利用者の第三者ソーシャルメディアサービスのアカウントに関連付けられている個人データを収集する場合があります。これには、利用者のアカウント名、メールアドレス、アクティビティ、またはそのアカウントに関連付けられている連絡先リストなどが含まれます。</p>
      <p>利用者はまた、第三者ソーシャルメディアサービスのアカウントを介して私たちと追加の情報を共有するオプションを持つことができます。そのような情報や個人データを提供することを選択し、登録時または他の方法で提供した場合、利用者はこのプライバシーポリシーに一致する方法で私たちがそれを使用し、共有し、保存する許可を与えていることになります。</p>

      <h3 class="h4">個人情報の国際転送</h3>
      <p>私たちが収集する個人情報は、私たちまたはパートナー、提携先、および第三者提供業者が施設を保有している場所に格納および/または処理されます。利用者の個人情報を格納、処理、または転送する場所は、情報を最初に提供した国と同じデータ保護法を持っていない可能性があることに注意してください。個人情報を他の国の第三者に転送する場合：(i) 適用法の要件に従ってその転送を行います。および (ii) 当該転送された個人情報を、このプライバシーポリシーに従って保護します。</p>

      <h3 class="h4">Cookieの使用</h3>
      <p>私たちは、当サイト上で利用者と利用者の活動に関する情報を収集するために「Cookie」を使用しています。Cookieは、私たちのウェブサイトが利用者のコンピュータに保存し、訪れるたびにアクセスする小さなデータです。これにより、私たちは利用者がサイトをどのように利用しているかを理解し、利用者が指定した設定に基づいてコンテンツを提供することができます。</p>

      <h3 class="h4">ポリシーの制約事項</h3>
      <p>私たちのウェブサイトは、私たちが運営していない外部サイトへのリンクを含む場合があります。これらのサイトのコンテンツやポリシーについては、私たちが管理・管理できないため、それらのプライバシーの実践に関して責任や義務を負うことはできません。</p>
      <p>第三者の広告サーバーまたは広告ネットワークは、広告やリンクに使用されるCookie、JavaScript、またはWebビーコンのような技術を使用しています。これらの技術は、ユーザーのブラウザに直接送信され、これが発生すると自動的にIPアドレスを受信します。これらの技術は、広告キャンペーンの効果を測定したり、訪れるウェブサイトで表示される広告コンテンツをパーソナライズするために使用されます。</p>
      <p>なお、当サイトは第三者広告主が使用するこれらのCookieにアクセスしたり制御したりすることはありません。</p>

      <h3 class="h4">ポリシーの変更</h3>
      <p>私たちは裁量により、ビジネスプロセスの更新、現行の適切な慣行、または法的または規制上の変更を反映するために、プライバシーポリシーを変更する場合があります。プライバシーポリシーを変更する場合は、アクセスしている同じリンク先に変更内容を掲載いたします。</p>
      <p>法律により必要な場合、新しい個人情報の利用について、利用者の許可を取得するか、または該当する場合にはオプトインまたはオプトアウトの機会を提供いたします。</p>

    </div>
  </div>

<% else %>
  <div class="page-content-wrapper sp-y">
    <div class="container">
      <h2 class="h3">Privacy Policy</h2>
      <p>Your privacy is important to us. It is Wholetone Music&#39;s policy to respect your privacy and comply with any applicable law and regulation regarding any personal information we may collect about you, including across our website, <a href="https://guitar-cv.com">https://guitar-cv.com</a>, and other sites we own and operate. </p>
      <p>This policy is effective as of 5 May 2022 and was last updated on 5 May 2022. </p>
      <p>This Privacy Policy applies only to our online activities and is valid for visitors to our website with regards to the information that they shared and/or collect in GCV. This policy is not applicable to any information collected offline or via channels other than this website.</p>

      <h3 class="h4">Interpretation</h3>
      <p>The words of which the initial letter is capitalized have meanings defined under the following conditions. The following definitions shall have the same meaning regardless of whether they appear in singular or in plural.</p>

      <h3 class="h4">Definitions</h3>
      <p>For the purposes of this Privacy Policy:</p>
      <ul class="mb-3">
        <li>
          <p><strong>Account</strong> means a unique account created for You to access our Service or parts of our Service.</p>
        </li>
        <li>
          <p><strong>Company</strong> (referred to as either &quot;the Company&quot;, &quot;We&quot;, &quot;Us&quot; or &quot;Our&quot; in this Agreement) refers to GCV.</p>
        </li>
        <li>
          <p><strong>Cookies</strong> are small files that are placed on Your computer, mobile device or any other device by a website, containing the details of Your browsing history on that website among its many uses.</p>
        </li>
        <li>
          <p><strong>Device</strong> means any device that can access the Service such as a computer, a cellphone or a digital tablet.</p>
        </li>
        <li>
          <p><strong>Personal Data</strong> is any information that relates to an identified or identifiable individual.</p>
        </li>
        <li>
          <p><strong>Service</strong> refers to the Website.</p>
        </li>
        <li>
          <p><strong>Service Provider</strong> means any natural or legal person who processes the data on behalf of the Company. It refers to third-party companies or individuals employed by the Company to facilitate the Service, to provide the Service on behalf of the Company, to perform services related to the Service or to assist the Company in analyzing how the Service is used.</p>
        </li>
        <li>
          <p><strong>Third-party Social Media Service</strong> refers to any website or any social network website through which a User can log in or create an account to use the Service.</p>
        </li>
        <li>
          <p><strong>Usage Data</strong> refers to data collected automatically, either generated by the use of the Service or from the Service infrastructure itself (for example, the duration of a page visit).</p>
        </li>
        <li>
          <p><strong>Website</strong> refers to GCV, accessible from <a href="https://guitar-cv.com" rel="external nofollow noopener" target="_blank">https://guitar-cv.com</a></p>
        </li>
        <li>
          <p><strong>You</strong> means the individual accessing or using the Service, or the company, or other legal entity on behalf of which such individual is accessing or using the Service, as applicable.</p>
        </li>
      </ul>

      <h3 class="h4">Information We Collect</h3>
      <p>Information we collect includes both information you knowingly and actively provide us when using or participating in any of our services and promotions, and any information automatically sent by your devices in the course of accessing our products and services. </p>
      <p>If you contact us directly, we may receive additional information about you such as your name, email address, phone number, the contents of the message and/or attachments you may send us, and any other information you may choose to provide.</p>

      <h3 class="h4">Usage Data</h3>
      <p>Usage Data is collected automatically when using the Service.</p>
      <p>Usage Data may include information such as Your Device's Internet Protocol address (e.g. IP address), browser type, browser version, the pages of our Service that You visit, the time and date of Your visit, the time spent on those pages, unique device identifiers and other diagnostic data.</p>
      <p>When You access the Service by or through a mobile device, We may collect certain information automatically, including, but not limited to, the type of mobile device You use, Your mobile device unique ID, the IP address of Your mobile device, Your mobile operating system, the type of mobile Internet browser You use, unique device identifiers and other diagnostic data.</p>
      <p>We may also collect information that Your browser sends whenever You visit our Service or when You access the Service by or through a mobile device.</p>

      <h3 class="h4">Log Data</h3>
      <p>GCV follows a standard procedure of using log files. These files log visitors when they visit websites. All hosting companies do this and a part of hosting services' analytics. The information collected by log files include internet protocol (IP) addresses, browser type, Internet Service Provider (ISP), date and time stamp, referring/exit pages, and possibly the number of clicks. These are not linked to any information that is personally identifiable. The purpose of the information is for analyzing trends, administering the site, tracking users' movement on the website, and gathering demographic information.</p>

      <h3 class="h4">Personal Information</h3>
      <p>We may ask for personal information which may include one or more of the following: </p>
      <ul class="mb-3">
        <li>Email</li>
        <li>Social media profiles</li>
      </ul>

      <h3 class="h4">Legitimate Reasons for Processing Your Personal Information</h3>
      <p>We only collect and use your personal information when we have a legitimate reason for doing so. In which instance, we only collect personal information that is reasonably necessary to provide our services to you. </p>

      <h3 class="h4">Collection and Use of Information</h3>
      <p>We may collect personal information from you when you do any of the following on our website: </p>
      <ul>
        <li>Sign up to receive updates from us via email or social media channels</li>
        <li>Use a mobile device or web browser to access our content</li>
        <li>Contact us via email, social media, or on any similar technologies</li>
        <li>When you mention us on social media</li>
      </ul>
      <p>We may collect, hold, use, and disclose information for the following purposes, and personal information will not be further processed in a manner that is incompatible with these purposes: </p>
      <p>The Company may use Personal Data for the following purposes:</p>
      <ul class="mb-3">
        <li>
          <p><strong>To provide and maintain our Service</strong>, including to monitor the usage of our Service.</p>
        </li>
        <li>
          <p><strong>To manage Your Account:</strong> to manage Your registration as a user of the Service. The Personal Data You provide can give You access to different functionalities of the Service that are available to You as a registered user.</p>
        </li>
        <li>
          <p><strong>For the performance of a contract:</strong> the development, compliance and undertaking of the purchase contract for the products, items or services You have purchased or of any other contract with Us through the Service.</p>
        </li>
        <li>
          <p><strong>To contact You:</strong> To contact You by email, telephone calls, SMS, or other equivalent forms of electronic communication, such as a mobile application's push notifications regarding updates or informative communications related to the functionalities, products or contracted services, including the security updates, when necessary or reasonable for their implementation.</p>
        </li>
        <li>
          <p><strong>To provide You</strong> with news, special offers and general information about other goods, services and events which we offer that are similar to those that you have already purchased or enquired about unless You have opted not to receive such information.</p>
        </li>
        <li>
          <p><strong>To manage Your requests:</strong> To attend and manage Your requests to Us.</p>
        </li>
        <li>
          <p><strong>For business transfers:</strong> We may use Your information to evaluate or conduct a merger, divestiture, restructuring, reorganization, dissolution, or other sale or transfer of some or all of Our assets, whether as a going concern or as part of bankruptcy, liquidation, or similar proceeding, in which Personal Data held by Us about our Service users is among the assets transferred.</p>
        </li>
        <li>
          <p><strong>For other purposes</strong>: We may use Your information for other purposes, such as data analysis, identifying usage trends, determining the effectiveness of our promotional campaigns and to evaluate and improve our Service, products, services, marketing and your experience.</p>
        </li>
      </ul>
      <p>We may share Your personal information in the following situations:</p>
      <ul class="mb-3">
        <li><strong>With Service Providers:</strong> We may share Your personal information with Service Providers to monitor and analyze the use of our Service,  to contact You.</li>
        <li><strong>For business transfers:</strong> We may share or transfer Your personal information in connection with, or during negotiations of, any merger, sale of Company assets, financing, or acquisition of all or a portion of Our business to another company.</li>
        <li><strong>With Affiliates:</strong> We may share Your information with Our affiliates, in which case we will require those affiliates to honor this Privacy Policy. Affiliates include Our parent company and any other subsidiaries, joint venture partners or other companies that We control or that are under common control with Us.</li>
        <li><strong>With business partners:</strong> We may share Your information with Our business partners to offer You certain products, services or promotions.</li>
        <li><strong>With other users:</strong> when You share personal information or otherwise interact in the public areas with other users, such information may be viewed by all users and may be publicly distributed outside. If You interact with other users or register through a Third-Party Social Media Service, Your contacts on the Third-Party Social Media Service may see Your name, profile, pictures and description of Your activity. Similarly, other users will be able to view descriptions of Your activity, communicate with You and view Your profile.</li>
        <li><strong>With Your consent</strong>: We may disclose Your personal information for any other purpose with Your consent.</li>
      </ul>

      <h3 class="h4">Security of Your Personal Information</h3>
      <p>When we collect and process personal information, and while we retain this information, we will protect it within commercially acceptable means to prevent loss and theft, as well as unauthorized access, disclosure, copying, use, or modification. </p>
      <p>Although we will do our best to protect the personal information you provide to us, we advise that no method of electronic transmission or storage is 100% secure, and no one can guarantee absolute data security. We will comply with laws applicable to us in respect of any data breach. </p>
      <p>You are responsible for selecting any password and its overall security strength, ensuring the security of your own information within the bounds of our services. </p>

      <h3 class="h4">How Long We Keep Your Personal Information</h3>
      <p>We keep your personal information only for as long as we need to. This time period may depend on what we are using your information for, in accordance with this privacy policy. If your personal information is no longer required, we will delete it or make it anonymous by removing all details that identify you. </p>
      <p>However, if necessary, we may retain your personal information for our compliance with a legal, accounting, or reporting obligation or for archiving purposes in the public interest, scientific, or historical research purposes or statistical purposes. </p>

      <h3 class="h4">Children’s Privacy</h3>
      <p>We do not aim any of our products or services directly at children under the age of 13, and we do not knowingly collect personal information about children under 13. </p>

      <h3 class="h4">Law enforcement</h3>
      <p>Under certain circumstances, the Company may be required to disclose Your Personal Data if required to do so by law or in response to valid requests by public authorities (e.g. a court or a government agency).</p>

      <h3 class="h4">Other legal requirements</h3>
      <p>The Company may disclose Your Personal Data in the good faith belief that such action is necessary to:</p>
      <ul class="mb-3">
        <li>Comply with a legal obligation</li>
        <li>Protect and defend the rights or property of the Company</li>
        <li>Prevent or investigate possible wrongdoing in connection with the Service</li>
        <li>Protect the personal safety of Users of the Service or the public</li>
        <li>Protect against legal liability</li>
      </ul>

      <h3 class="h4">Information from Third-Party Social Media Services</h3>
      <p>The Company allows You to create an account and log in to use the Service through the following Third-party Social Media Services:</p>
      <ul class="mb-3">
        <li>Twitter</li>
      </ul>
      <p>If You decide to register through or otherwise grant us access to a Third-Party Social Media Service, We may collect Personal data that is already associated with Your Third-Party Social Media Service's account, such as Your name, Your email address, Your activities or Your contact list associated with that account.</p>
      <p>You may also have the option of sharing additional information with the Company through Your Third-Party Social Media Service's account. If You choose to provide such information and Personal Data, during registration or otherwise, You are giving the Company permission to use, share, and store it in a manner consistent with this Privacy Policy.</p>

      <h3 class="h4">International Transfers of Personal Information</h3>
      <p>The personal information we collect is stored and/or processed where we or our partners, affiliates, and third-party providers maintain facilities. Please be aware that the locations to which we store, process, or transfer your personal information may not have the same data protection laws as the country in which you initially provided the information. If we transfer your personal information to third parties in other countries: (i) we will perform those transfers in accordance with the requirements of applicable law; and (ii) we will protect the transferred personal information in accordance with this privacy policy. </p>

      <h3 class="h4">Use of Cookies</h3>
      <p>We use &ldquo;cookies&rdquo; to collect information about you and your activity across our site. A cookie is a small piece of data that our website stores on your computer, and accesses each time you visit, so we can understand how you use our site. This helps us serve you content based on preferences you have specified. </p>

      <h3 class="h4">Limits of Our Policy</h3>
      <p>Our website may link to external sites that are not operated by us. Please be aware that we have no control over the content and policies of those sites, and cannot accept responsibility or liability for their respective privacy practices. </p>
      <p>Third-party ad servers or ad networks uses technologies like cookies, JavaScript, or Web Beacons that are used in their respective advertisements and links that appear on GCV, which are sent directly to users' browser. They automatically receive your IP address when this occurs. These technologies are used to measure the effectiveness of their advertising campaigns and/or to personalize the advertising content that you see on websites that you visit.</p>

      <p>Note that GCV has no access to or control over these cookies that are used by third-party advertisers.</p>

      <h3 class="h4">Changes to This Policy</h3>
      <p>At our discretion, we may change our privacy policy to reflect updates to our business processes, current acceptable practices, or legislative or regulatory changes. If we decide to change this privacy policy, we will post the changes here at the same link by which you are accessing this privacy policy. </p>
      <p>If required by law, we will get your permission or give you the opportunity to opt in to or opt out of, as applicable, any new uses of your personal information. </p>
    </div>
  </div>
<% end %>
