<!-- Navbar -->
<nav id="default-navbar" class="navbar navbar-expand navbar-dark bg-primary m-0">
  <div class="container-fluid">
    <!-- Toggle sidebar -->
    <button class="navbar-toggler d-block" data-toggle="sidebar" type="button">
      <span class="material-icons">menu</span>
    </button>

    <!-- Brand -->
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_pack_tag "media/images/logo.png", class: "mr-2", alt: "GCV" %>
    <% end %>

    <div class="flex"></div>
    
    <!-- Menu -->
    <ul class="nav navbar-nav flex-nowrap d-none d-lg-flex">
      <li class="nav-item">
        <a class="nav-link" href="/help">Get Help</a>
      </li>
    </ul>
    
    <!-- Menu -->
    <ul class="nav navbar-nav flex-nowrap">
      <%= render "components/navbar-notifications" %>
      <%= render "components/navbar-user" %>
    </ul>
    <!-- // END Menu -->
  </div>
</nav>
<!-- // END Navbar -->
