






        
<li class="has-submenu"><a href="#">Guitars</a>
    <ul class="sub-menu">
    
        <li><a href="/entries/categories/electric-solid-body-guitar">Electric-Solid-Body-Guitar(1416)</a></li>
    
        <li><a href="/entries/categories/dreadnought-acoustic-guitar">Dreadnought-Acoustic-Guitar(40)</a></li>
    
        <li><a href="/entries/categories/acoustic-electric-guitar">Acoustic-Electric-Guitar(37)</a></li>
    
        <li><a href="/entries/categories/electric-semi-hollow-body-guitar">Electric-Semi-Hollow-Body-Guitar(35)</a></li>
    
        <li><a href="/entries/categories/electric-hollow-body-guitar">Electric-Hollow-Body-Guitar(14)</a></li>
    
        <li><a href="/entries/categories/classical-acoustic-guitar">Classical-Acoustic-Guitar(11)</a></li>
    
    </ul>
</li>
<li class="has-submenu"><a href="#">Pedals</a>
    <ul class="sub-menu">
    
        <li><a href="/entries/categories/pedal">Pedal(314)</a></li>
    
    </ul>
</li>
<li class="has-submenu"><a href="#">Amplifiers</a>
    <ul class="sub-menu">
    
        <li><a href="/entries/categories/amplifier">Amplifier(91)</a></li>
    
    </ul>
</li>
<li class="has-submenu"><a href="#">Parts</a>
    <ul class="sub-menu">
    
        <li><a href="/entries/categories/parts-accessories">Parts-Accessories(38)</a></li>
    
    </ul>
</li>
<li class="has-submenu"><a href="#">Rec-Gears</a>
    <ul class="sub-menu">
    
        <li><a href="/entries/categories/rec-gear">Rec-Gear(25)</a></li>
    
    </ul>
</li>
<li class="has-submenu"><a href="#">Others</a>
    <ul class="sub-menu">
    
        <li><a href="/entries/categories/others">Others(27)</a></li>
    
    </ul>
</li>
