<div class="contact-form-wrapper sm-top">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3>Thank you for your message!</h3>
      </div>
    </div>
  </div>
</div>
